// Files not starting with _ are consided entrypoints, i.e. they are compiled to
// .css files. Partials (files starting with "_") can be included using @import.
// (import path can include "_", but it is not needed).

@import url('https://fonts.googleapis.com/css?family=Vollkorn');

$font-stack: 'Vollkorn', Verdana, Helvetica, Arial, sans-serif;
$base-font-size: 1.125em;

html {
    height: 100%;
}

body {
    height: 100%;
}

.body-container {
    font-family: $font-stack;
    padding-top: 72px;
    padding-left: 72px;
    -webkit-font-smoothing: antialiased;
    font-size: $base-font-size;
    color: #333;
    white-space: nowrap;
    overflow: scroll;

    background: radial-gradient(ellipse at center,
                                rgba(240, 249, 255, 1) 0%,
                                rgba(203, 235, 255, 1) 25%,
                                rgba(161, 219, 255, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(
        startColorstr = '#f0f9ff',
        endColorstr = '#a1dbff',
        GradientType = 1);
}

h1, h2, h3 {
    color: #000;
}

h1 {
    font-size: $base-font-size + 1.375;
}

h2 {
    font-size: $base-font-size + 0.875;
}

h3 {
    font-size: $base-font-size + 0.125;
}

a {
    text-decoration: none;
    color: #09f;

    // Nesting is also supported
    &:hover {
        text-decoration: underline;
    }
}

.anim-forever {
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
}

.cell.button {
    border: none;
    border-radius: 0;
    background-color: transparent;
}

.cell span .fas.fa-trophy {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.cell.wall {
   background:url(
       data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAG0lEQVQYV2NkYGD4z8DAwMgABXAGNgGwSgwVAFbmAgXQdISfAAAAAElFTkSuQmCC
    ) repeat;
}

@import url("https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css");
@import url("https://cdn.jsdelivr.net/npm/bulma-extensions@1.0.28/bulma-slider/dist/bulma-slider.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css");
@import url("https://use.fontawesome.com/releases/v5.0.10/css/all.css")
